# Subset Selection from DataFrame

Subset selection is one of the most frequently performed tasks while manipulating data. Pandas provides different ways to efficiently select subsets of data from your DataFrame.

https://www.kdnuggets.com/2019/06/select-rows-columns-pandas.html

In [1]:
import pandas as pd

In [9]:
wine_df = pd.read_csv('wine.data', sep=',')

In [105]:
wine_df

,Class,Alcohol,MalicAcid,Ash,AlcalinityOfAsh,Magnesium,TotalPhenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [106]:
wine_df.shape

(178, 14)

In [103]:
wine_df.describe()

,Class,Alcohol,MalicAcid,Ash,AlcalinityOfAsh,Magnesium,TotalPhenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines,Proline
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [104]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Class                      178 non-null    int64
 1   Alcohol                    178 non-null    float64
 2   MalicAcid                  178 non-null    float64
 3   Ash                        178 non-null    float64
 4   AlcalinityOfAsh            178 non-null    float64
 5   Magnesium                  178 non-null    int64
 6   TotalPhenols               178 non-null    float64
 7   Flavanoids                 178 non-null    float64
 8   Nonflavanoid phenols       178 non-null    float64
 9   Proanthocyanins            178 non-null    float64
 10  ColorIntensity             178 non-null    float64
 11  Hue                        178 non-null    float64
 12  OD280/OD315OfDilutedWines  178 non-null    float64
 13  Proline                    178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

# Different ways to select columns

#### Selecting a single column

In [100]:
wine_df['Alcohol'].head()

0    14.23
1    13.20
2    13.16
3    14.37
4    13.24
Name: Alcohol, dtype: float64

#### Selecting multiple columns

In [12]:
wine_df[['Alcohol','MalicAcid','Hue','Flavanoids']].head()

   Alcohol  MalicAcid   Hue  Flavanoids
0    14.23       1.71  1.04        3.06
1    13.20       1.78  1.05        2.76
2    13.16       2.36  1.03        3.24
3    14.37       1.95  0.86        3.49
4    13.24       2.59  1.04        2.69

#### Selecting columns using "select_dtypes" and "filter" methods

In [14]:
wine_df.dtypes

Class                          int64
Alcohol                      float64
MalicAcid                    float64
Ash                          float64
AlcalinityOfAsh              float64
Magnesium                      int64
TotalPhenols                 float64
Flavanoids                   float64
Nonflavanoid phenols         float64
Proanthocyanins              float64
ColorIntensity               float64
Hue                          float64
OD280/OD315OfDilutedWines    float64
Proline                        int64
dtype: object

In [27]:
wine_df.select_dtypes(include =['float'])

,Alcohol,MalicAcid,Ash,AlcalinityOfAsh,TotalPhenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines
0,14.23,1.71,2.43,15.6,2.80,3.06,0.28,2.29,5.64,1.04,3.92
1,13.20,1.78,2.14,11.2,2.65,2.76,0.26,1.28,4.38,1.05,3.40
2,13.16,2.36,2.67,18.6,2.80,3.24,0.30,2.81,5.68,1.03,3.17
3,14.37,1.95,2.50,16.8,3.85,3.49,0.24,2.18,7.80,0.86,3.45
4,13.24,2.59,2.87,21.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93
...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,1.68,0.61,0.52,1.06,7.70,0.64,1.74
174,13.40,3.91,2.48,23.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56
175,13.27,4.28,2.26,20.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56
176,13.17,2.59,2.37,20.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62
177,14.13,4.10,2.74,24.5,2.05,0.76,0.56,1.35,9.20,0.61,1.60

In [29]:
wine_df.filter(like ='phen')

     Nonflavanoid phenols
0                    0.28
1                    0.26
2                    0.30
3                    0.24
4                    0.39
..                    ...
173                  0.52
174                  0.43
175                  0.43
176                  0.53
177                  0.56

[178 rows x 1 columns]

In [30]:
wine_df.filter(like ='28')

     OD280/OD315OfDilutedWines
0                         3.92
1                         3.40
2                         3.17
3                         3.45
4                         2.93
..                         ...
173                       1.74
174                       1.56
175                       1.56
176                       1.62
177                       1.60

[178 rows x 1 columns]

In [34]:
wine_df.filter(regex = '\n')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[178 rows x 0 columns]

In [36]:
wine_df.filter(regex = '\d')

     OD280/OD315OfDilutedWines
0                         3.92
1                         3.40
2                         3.17
3                         3.45
4                         2.93
..                         ...
173                       1.74
174                       1.56
175                       1.56
176                       1.62
177                       1.60

[178 rows x 1 columns]

In [37]:
wine_df.rename(columns = {'AlcalinityOfAsh': 'AlcOfAsh','OD280/OD315OfDilutedWines' : 'OD_DilutedWines'})

,Class,Alcohol,MalicAcid,Ash,AlcOfAsh,Magnesium,TotalPhenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD_DilutedWines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [81]:
def alphabet_seq(): #GENERATOR FUNCTION TO GENERATE 2 CHARACTER ALPHA SEQUENCE
    alpha_seq_dict = {}
    cnt = 0
    for i in range(27):
        if(i==0):
            c = ''
        else:
            c = chr(97+ (i-1))
        for j in range(26):
            seq = c + chr(97+j)
            cnt += 1
            yield seq

In [82]:
alpha_seq = alphabet_seq()

In [83]:
wine_df.index

RangeIndex(start=0, stop=178, step=1)

In [84]:
index_alpa_seq = {n:next(alpha_seq) for n in wine_df.index}

In [85]:
index_alpa_seq

{0: 'a',
 1: 'b',
 2: 'c',
 3: 'd',
 4: 'e',
 5: 'f',
 6: 'g',
 7: 'h',
 8: 'i',
 9: 'j',
 10: 'k',
 11: 'l',
 12: 'm',
 13: 'n',
 14: 'o',
 15: 'p',
 16: 'q',
 17: 'r',
 18: 's',
 19: 't',
 20: 'u',
 21: 'v',
 22: 'w',
 23: 'x',
 24: 'y',
 25: 'z',
 26: 'aa',
 27: 'ab',
 28: 'ac',
 29: 'ad',
 30: 'ae',
 31: 'af',
 32: 'ag',
 33: 'ah',
 34: 'ai',
 35: 'aj',
 36: 'ak',
 37: 'al',
 38: 'am',
 39: 'an',
 40: 'ao',
 41: 'ap',
 42: 'aq',
 43: 'ar',
 44: 'as',
 45: 'at',
 46: 'au',
 47: 'av',
 48: 'aw',
 49: 'ax',
 50: 'ay',
 51: 'az',
 52: 'ba',
 53: 'bb',
 54: 'bc',
 55: 'bd',
 56: 'be',
 57: 'bf',
 58: 'bg',
 59: 'bh',
 60: 'bi',
 61: 'bj',
 62: 'bk',
 63: 'bl',
 64: 'bm',
 65: 'bn',
 66: 'bo',
 67: 'bp',
 68: 'bq',
 69: 'br',
 70: 'bs',
 71: 'bt',
 72: 'bu',
 73: 'bv',
 74: 'bw',
 75: 'bx',
 76: 'by',
 77: 'bz',
 78: 'ca',
 79: 'cb',
 80: 'cc',
 81: 'cd',
 82: 'ce',
 83: 'cf',
 84: 'cg',
 85: 'ch',
 86: 'ci',
 87: 'cj',
 88: 'ck',
 89: 'cl',
 90: 'cm',
 91: 'cn',
 92: 'co',
 93: 'cp',
 94: 'cq',
 95: 'cr',
 96: 'cs',
 97: 'ct',
 98: 'cu',
 99: 'cv',
 100: 'cw',
 101: 'cx',
 102: 'cy',
 103: 'cz',
 104: 'da',
 105: 'db',
 106: 'dc',
 107: 'dd',
 108: 'de',
 109: 'df',
 110: 'dg',
 111: 'dh',
 112: 'di',
 113: 'dj',
 114: 'dk',
 115: 'dl',
 116: 'dm',
 117: 'dn',
 118: 'do',
 119: 'dp',
 120: 'dq',
 121: 'dr',
 122: 'ds',
 123: 'dt',
 124: 'du',
 125: 'dv',
 126: 'dw',
 127: 'dx',
 128: 'dy',
 129: 'dz',
 130: 'ea',
 131: 'eb',
 132: 'ec',
 133: 'ed',
 134: 'ee',
 135: 'ef',
 136: 'eg',
 137: 'eh',
 138: 'ei',
 139: 'ej',
 140: 'ek',
 141: 'el',
 142: 'em',
 143: 'en',
 144: 'eo',
 145: 'ep',
 146: 'eq',
 147: 'er',
 148: 'es',
 149: 'et',
 150: 'eu',
 151: 'ev',
 152: 'ew',
 153: 'ex',
 154: 'ey',
 155: 'ez',
 156: 'fa',
 157: 'fb',
 158: 'fc',
 159: 'fd',
 160: 'fe',
 161: 'ff',
 162: 'fg',
 163: 'fh',
 164: 'fi',
 165: 'fj',
 166: 'fk',
 167: 'fl',
 168: 'fm',
 169: 'fn',
 170: 'fo',
 171: 'fp',
 172: 'fq',
 173: 'fr',
 174: 'fs',
 175: 'ft',
 176: 'fu',
 177: 'fv'}

In [86]:
wine_df.rename(index = index_alpa_seq)

,Class,Alcohol,MalicAcid,Ash,AlcalinityOfAsh,Magnesium,TotalPhenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines,Proline
a,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
b,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
c,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
d,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
e,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fr,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
fs,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
ft,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
fu,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
fv,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

#### Changing the order of your columns

In [88]:
wine_df.columns

Index(['Class', 'Alcohol', 'MalicAcid', 'Ash', 'AlcalinityOfAsh', 'Magnesium',
       'TotalPhenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins',
       'ColorIntensity', 'Hue', 'OD280/OD315OfDilutedWines', 'Proline'],
      dtype='object')

In [89]:
grp1 = ['Class', 'Alcohol', 'MalicAcid', 'Ash',]
grp2 = ['Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins','ColorIntensity',]
grp3 = ['Hue', 'OD280/OD315OfDilutedWines', 'Proline','AlcalinityOfAsh', 'Magnesium','TotalPhenols']

In [92]:
new_grp = grp2 + grp3 + grp1

In [93]:
new_grp

['Flavanoids',
 'Nonflavanoid phenols',
 'Proanthocyanins',
 'ColorIntensity',
 'Hue',
 'OD280/OD315OfDilutedWines',
 'Proline',
 'AlcalinityOfAsh',
 'Magnesium',
 'TotalPhenols',
 'Class',
 'Alcohol',
 'MalicAcid',
 'Ash']

In [95]:
#CHECK IF NEW GROUP CONTAINS ALL THE COLUMNS

set(wine_df.columns) == set(new_grp)

True

In [96]:
wine_df[new_grp]

,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines,Proline,AlcalinityOfAsh,Magnesium,TotalPhenols,Class,Alcohol,MalicAcid,Ash
0,3.06,0.28,2.29,5.64,1.04,3.92,1065,15.6,127,2.80,1,14.23,1.71,2.43
1,2.76,0.26,1.28,4.38,1.05,3.40,1050,11.2,100,2.65,1,13.20,1.78,2.14
2,3.24,0.30,2.81,5.68,1.03,3.17,1185,18.6,101,2.80,1,13.16,2.36,2.67
3,3.49,0.24,2.18,7.80,0.86,3.45,1480,16.8,113,3.85,1,14.37,1.95,2.50
4,2.69,0.39,1.82,4.32,1.04,2.93,735,21.0,118,2.80,1,13.24,2.59,2.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,0.61,0.52,1.06,7.70,0.64,1.74,740,20.5,95,1.68,3,13.71,5.65,2.45
174,0.75,0.43,1.41,7.30,0.70,1.56,750,23.0,102,1.80,3,13.40,3.91,2.48
175,0.69,0.43,1.35,10.20,0.59,1.56,835,20.0,120,1.59,3,13.27,4.28,2.26
176,0.68,0.53,1.46,9.30,0.60,1.62,840,20.0,120,1.65,3,13.17,2.59,2.37
177,0.76,0.56,1.35,9.20,0.61,1.60,560,24.5,96,2.05,3,14.13,4.10,2.74

In [98]:
wine_df2 = wine_df[new_grp]

In [99]:
wine_df2

,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines,Proline,AlcalinityOfAsh,Magnesium,TotalPhenols,Class,Alcohol,MalicAcid,Ash
0,3.06,0.28,2.29,5.64,1.04,3.92,1065,15.6,127,2.80,1,14.23,1.71,2.43
1,2.76,0.26,1.28,4.38,1.05,3.40,1050,11.2,100,2.65,1,13.20,1.78,2.14
2,3.24,0.30,2.81,5.68,1.03,3.17,1185,18.6,101,2.80,1,13.16,2.36,2.67
3,3.49,0.24,2.18,7.80,0.86,3.45,1480,16.8,113,3.85,1,14.37,1.95,2.50
4,2.69,0.39,1.82,4.32,1.04,2.93,735,21.0,118,2.80,1,13.24,2.59,2.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,0.61,0.52,1.06,7.70,0.64,1.74,740,20.5,95,1.68,3,13.71,5.65,2.45
174,0.75,0.43,1.41,7.30,0.70,1.56,750,23.0,102,1.80,3,13.40,3.91,2.48
175,0.69,0.43,1.35,10.20,0.59,1.56,835,20.0,120,1.59,3,13.27,4.28,2.26
176,0.68,0.53,1.46,9.30,0.60,1.62,840,20.0,120,1.65,3,13.17,2.59,2.37
177,0.76,0.56,1.35,9.20,0.61,1.60,560,24.5,96,2.05,3,14.13,4.10,2.74

#### Selecting rows using .iloc and loc

In [109]:
wine_df2.loc[2]

Flavanoids                      3.24
Nonflavanoid phenols            0.30
Proanthocyanins                 2.81
ColorIntensity                  5.68
Hue                             1.03
OD280/OD315OfDilutedWines       3.17
Proline                      1185.00
AlcalinityOfAsh                18.60
Magnesium                     101.00
TotalPhenols                    2.80
Class                           1.00
Alcohol                        13.16
MalicAcid                       2.36
Ash                             2.67
Name: 2, dtype: float64

In [112]:
wine_df2.loc[:3]

,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines,Proline,AlcalinityOfAsh,Magnesium,TotalPhenols,Class,Alcohol,MalicAcid,Ash
0,3.06,0.28,2.29,5.64,1.04,3.92,1065,15.6,127,2.80,1,14.23,1.71,2.43
1,2.76,0.26,1.28,4.38,1.05,3.40,1050,11.2,100,2.65,1,13.20,1.78,2.14
2,3.24,0.30,2.81,5.68,1.03,3.17,1185,18.6,101,2.80,1,13.16,2.36,2.67
3,3.49,0.24,2.18,7.80,0.86,3.45,1480,16.8,113,3.85,1,14.37,1.95,2.50

In [123]:
wine_df2.loc[2:5] # NOTE THAT THE UPPER BOUND IS INCLUDED WHICH IS NOT THE CASE WITH GENERAL LISTS

,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines,Proline,AlcalinityOfAsh,Magnesium,TotalPhenols,Class,Alcohol,MalicAcid,Ash
2,3.24,0.30,2.81,5.68,1.03,3.17,1185,18.6,101,2.80,1,13.16,2.36,2.67
3,3.49,0.24,2.18,7.80,0.86,3.45,1480,16.8,113,3.85,1,14.37,1.95,2.50
4,2.69,0.39,1.82,4.32,1.04,2.93,735,21.0,118,2.80,1,13.24,2.59,2.87
5,3.39,0.34,1.97,6.75,1.05,2.85,1450,15.2,112,3.27,1,14.20,1.76,2.45

In [124]:
wine_df2[2:5]  # NOTE THAT THE UPPER BOUND IS not INCLUDED

,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines,Proline,AlcalinityOfAsh,Magnesium,TotalPhenols,Class,Alcohol,MalicAcid,Ash
2,3.24,0.30,2.81,5.68,1.03,3.17,1185,18.6,101,2.80,1,13.16,2.36,2.67
3,3.49,0.24,2.18,7.80,0.86,3.45,1480,16.8,113,3.85,1,14.37,1.95,2.50
4,2.69,0.39,1.82,4.32,1.04,2.93,735,21.0,118,2.80,1,13.24,2.59,2.87

In [117]:
wine_df2.loc[1,'Hue']

1.05

In [118]:
wine_df2.loc[1,['Flavanoids','Proanthocyanins','Hue']]

Flavanoids         2.76
Proanthocyanins    1.28
Hue                1.05
Name: 1, dtype: float64

In [141]:
wine_df2.loc[[1,2,3],['Flavanoids','Proanthocyanins','Hue']]

   Flavanoids  Proanthocyanins   Hue
1        2.76             1.28  1.05
2        3.24             2.81  1.03
3        3.49             2.18  0.86

In [144]:
wine_df2.loc[:,['Flavanoids','Proanthocyanins','Hue']]

     Flavanoids  Proanthocyanins   Hue
0          3.06             2.29  1.04
1          2.76             1.28  1.05
2          3.24             2.81  1.03
3          3.49             2.18  0.86
4          2.69             1.82  1.04
..          ...              ...   ...
173        0.61             1.06  0.64
174        0.75             1.41  0.70
175        0.69             1.35  0.59
176        0.68             1.46  0.60
177        0.76             1.35  0.61

[178 rows x 3 columns]

In [145]:
wine_df2.loc[:6,['Flavanoids','Proanthocyanins','Hue']]

   Flavanoids  Proanthocyanins   Hue
0        3.06             2.29  1.04
1        2.76             1.28  1.05
2        3.24             2.81  1.03
3        3.49             2.18  0.86
4        2.69             1.82  1.04
5        3.39             1.97  1.05
6        2.52             1.98  1.02

In [133]:
wine_df2

,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines,Proline,AlcalinityOfAsh,Magnesium,TotalPhenols,Class,Alcohol,MalicAcid,Ash
0,3.06,0.28,2.29,5.64,1.04,3.92,1065,15.6,127,2.80,1,14.23,1.71,2.43
1,2.76,0.26,1.28,4.38,1.05,3.40,1050,11.2,100,2.65,1,13.20,1.78,2.14
2,3.24,0.30,2.81,5.68,1.03,3.17,1185,18.6,101,2.80,1,13.16,2.36,2.67
3,3.49,0.24,2.18,7.80,0.86,3.45,1480,16.8,113,3.85,1,14.37,1.95,2.50
4,2.69,0.39,1.82,4.32,1.04,2.93,735,21.0,118,2.80,1,13.24,2.59,2.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,0.61,0.52,1.06,7.70,0.64,1.74,740,20.5,95,1.68,3,13.71,5.65,2.45
174,0.75,0.43,1.41,7.30,0.70,1.56,750,23.0,102,1.80,3,13.40,3.91,2.48
175,0.69,0.43,1.35,10.20,0.59,1.56,835,20.0,120,1.59,3,13.27,4.28,2.26
176,0.68,0.53,1.46,9.30,0.60,1.62,840,20.0,120,1.65,3,13.17,2.59,2.37
177,0.76,0.56,1.35,9.20,0.61,1.60,560,24.5,96,2.05,3,14.13,4.10,2.74

In [134]:
wine_df2.iloc[2]

Flavanoids                      3.24
Nonflavanoid phenols            0.30
Proanthocyanins                 2.81
ColorIntensity                  5.68
Hue                             1.03
OD280/OD315OfDilutedWines       3.17
Proline                      1185.00
AlcalinityOfAsh                18.60
Magnesium                     101.00
TotalPhenols                    2.80
Class                           1.00
Alcohol                        13.16
MalicAcid                       2.36
Ash                             2.67
Name: 2, dtype: float64

In [135]:
wine_df2.iloc[2,1]

0.3

In [136]:
wine_df2.iloc[1:5] # NOTE THAT THE UPPER BOUND IS not INCLUDED

,Flavanoids,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines,Proline,AlcalinityOfAsh,Magnesium,TotalPhenols,Class,Alcohol,MalicAcid,Ash
1,2.76,0.26,1.28,4.38,1.05,3.40,1050,11.2,100,2.65,1,13.20,1.78,2.14
2,3.24,0.30,2.81,5.68,1.03,3.17,1185,18.6,101,2.80,1,13.16,2.36,2.67
3,3.49,0.24,2.18,7.80,0.86,3.45,1480,16.8,113,3.85,1,14.37,1.95,2.50
4,2.69,0.39,1.82,4.32,1.04,2.93,735,21.0,118,2.80,1,13.24,2.59,2.87

In [137]:
wine_df2.iloc[1:5,1:5]# NOTE THAT THE UPPER BOUND IS not INCLUDED

   Nonflavanoid phenols  Proanthocyanins  ColorIntensity   Hue
1                  0.26             1.28            4.38  1.05
2                  0.30             2.81            5.68  1.03
3                  0.24             2.18            7.80  0.86
4                  0.39             1.82            4.32  1.04

In [138]:
wine_df2.iloc[[1,2,4,7],1:5]

   Nonflavanoid phenols  Proanthocyanins  ColorIntensity   Hue
1                  0.26             1.28            4.38  1.05
2                  0.30             2.81            5.68  1.03
4                  0.39             1.82            4.32  1.04
7                  0.31             1.25            5.05  1.06

In [139]:
wine_df2.iloc[[1,2,4,7],[1,3,5,7,9]]

,Nonflavanoid phenols,ColorIntensity,OD280/OD315OfDilutedWines,AlcalinityOfAsh,TotalPhenols
1,0.26,4.38,3.40,11.2,2.65
2,0.30,5.68,3.17,18.6,2.80
4,0.39,4.32,2.93,21.0,2.80
7,0.31,5.05,3.58,17.6,2.60

In [140]:
wine_df2.iloc[:,[1,3,5,7,9]]

,Nonflavanoid phenols,ColorIntensity,OD280/OD315OfDilutedWines,AlcalinityOfAsh,TotalPhenols
0,0.28,5.64,3.92,15.6,2.80
1,0.26,4.38,3.40,11.2,2.65
2,0.30,5.68,3.17,18.6,2.80
3,0.24,7.80,3.45,16.8,3.85
4,0.39,4.32,2.93,21.0,2.80
...,...,...,...,...,...
173,0.52,7.70,1.74,20.5,1.68
174,0.43,7.30,1.56,23.0,1.80
175,0.43,10.20,1.56,20.0,1.59
176,0.53,9.30,1.62,20.0,1.65
177,0.56,9.20,1.60,24.5,2.05

In [146]:
wine_df2.iloc[0:20:3,[1,3,5,7,9]]

,Nonflavanoid phenols,ColorIntensity,OD280/OD315OfDilutedWines,AlcalinityOfAsh,TotalPhenols
0,0.28,5.64,3.92,15.6,2.80
3,0.24,7.80,3.45,16.8,3.85
6,0.30,5.25,3.58,14.6,2.50
9,0.22,7.22,3.55,16.0,2.98
12,0.29,5.60,2.90,16.0,2.60
15,0.30,7.30,2.88,17.2,2.85
18,0.32,8.70,2.82,16.5,3.30

In [147]:
wine_df2.iloc[20:0:-3,[1,3,5,7,9]]

,Nonflavanoid phenols,ColorIntensity,OD280/OD315OfDilutedWines,AlcalinityOfAsh,TotalPhenols
20,0.24,5.65,3.71,16.0,3.00
17,0.40,6.60,2.57,20.0,2.95
14,0.29,7.50,3.00,12.0,3.30
11,0.26,5.00,2.82,16.8,2.20
8,0.29,5.20,2.85,14.0,2.80
5,0.34,6.75,2.85,15.2,3.27
2,0.30,5.68,3.17,18.6,2.80

#### Selecting rows and columns using "get_loc" and "index" methods

In [149]:
wine_df2.columns

Index(['Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins',
       'ColorIntensity', 'Hue', 'OD280/OD315OfDilutedWines', 'Proline',
       'AlcalinityOfAsh', 'Magnesium', 'TotalPhenols', 'Class', 'Alcohol',
       'MalicAcid', 'Ash'],
      dtype='object')

In [151]:
start_col = wine_df2.columns.get_loc('Magnesium')

In [152]:
end_col = wine_df2.columns.get_loc('Ash')

In [153]:
(start_col,end_col)

(8, 13)

In [154]:
wine_df2.iloc[:,start_col:end_col]

     Magnesium  TotalPhenols  Class  Alcohol  MalicAcid
0          127          2.80      1    14.23       1.71
1          100          2.65      1    13.20       1.78
2          101          2.80      1    13.16       2.36
3          113          3.85      1    14.37       1.95
4          118          2.80      1    13.24       2.59
..         ...           ...    ...      ...        ...
173         95          1.68      3    13.71       5.65
174        102          1.80      3    13.40       3.91
175        120          1.59      3    13.27       4.28
176        120          1.65      3    13.17       2.59
177         96          2.05      3    14.13       4.10

[178 rows x 5 columns]

In [157]:
wine_df2.index[4]

4

In [158]:
row_start_index = wine_df2.index[4]
row_end_index = wine_df2.index[9]

In [159]:
wine_df2.iloc[row_start_index:row_end_index,start_col:end_col]

   Magnesium  TotalPhenols  Class  Alcohol  MalicAcid
4        118          2.80      1    13.24       2.59
5        112          3.27      1    14.20       1.76
6         96          2.50      1    14.39       1.87
7        121          2.60      1    14.06       2.15
8         97          2.80      1    14.83       1.64

In [161]:
wine_df2.loc[row_start_index:row_end_index,'Nonflavanoid phenols':'Proline']

,Nonflavanoid phenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315OfDilutedWines,Proline
4,0.39,1.82,4.32,1.04,2.93,735
5,0.34,1.97,6.75,1.05,2.85,1450
6,0.30,1.98,5.25,1.02,3.58,1290
7,0.31,1.25,5.05,1.06,3.58,1295
8,0.29,1.98,5.20,1.08,2.85,1045
9,0.22,1.85,7.22,1.01,3.55,1045